/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.dusk*
.env.backup
.phpunit.result.cache
composer.phar
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/phpunit.xml

python/credentials.py
python/login.py
*.template.py
*.pyc

# Laravel ide helper
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

resources/lang/vendor/*
!resources/lang/vendor/torblock
app/Traits/ProxycheckTrait.php
python/config.py
