/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
.env.dusk.local

Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
.editorconfig
/storage/
server.php
webpack.mix.js
/bootstrap/
artisan
composer.lock
python/credentials.py
python/login.py
vendor/*
storage/*
*.template.py
*.pyc

# Laravel ide helper
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

resources/lang/vendor/*