name: Laravel tests
on:
  push:
    branches:
      - master
  pull_request: {}
jobs:
  laravel-tests:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:8
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: false
          MYSQL_ROOT_PASSWORD: password
          MYSQL_DATABASE: laravel
        ports:
          - 3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    steps:
      - uses: actions/checkout@v1
      - name: Create directories
        run: mkdir -pv storage/framework/{sessions,views,cache}
      - name: Copy env file
        run: cp .env.ci .env
      - name: Install Composer dependencies
        run: composer install --no-progress --no-suggest --prefer-dist --optimize-autoloader
      - name: Install NPM dependencies
        run: npm install
      - name: Set app key
        run: php artisan key:generate
      - name: Clear config cache
        run: php${{ matrix.php }} artisan config:clear
      - name: Verify MySQL connection from host
        run: mysql --host 127.0.0.1 --port ${{ job.services.mysql.ports['3306'] }} -uroot -ppassword -e "SHOW DATABASES"
      - name: Run migrations
        run: php${{ matrix.php }} artisan migrate -v --force --seed
        env:
          DB_PORT: ${{ job.services.mysql.ports['3306'] }}
      - name: Build assets
        run: npm run production
      - name: Run PHPUnit
        run: vendor/bin/phpunit
        env:
          DB_PORT: ${{ job.services.mysql.ports['3306'] }}
      - name: Upgrade Chrome Driver
        run: php artisan dusk:chrome-driver
      - name: Start Chrome Driver
        run: ./vendor/laravel/dusk/bin/chromedriver-linux &
      - name: Start Laravel Server
        run: php artisan serve &
        env:
          DB_PORT: ${{ job.services.mysql.ports['3306'] }}
      - name: Run Browser Tests
        run: php artisan dusk
        env:
          DB_PORT: ${{ job.services.mysql.ports['3306'] }}
